script(src="js/vendor/jquery-3.3.1.min.js")
script(src="js/vendor/jquery.mixitup.js")
script(src="js/vendor/jquery.nicescroll.min.js")
script(src="js/vendor/bootstrap.min.js")
script(src="js/plugins.js")
script(src="js/main.js")