link(rel="stylesheet" href="css/Vendor/bootstrap.min.css")
link(rel="stylesheet" href="css/Vendor/font-awesome.min.css")
link(rel="stylesheet" href="css/main.css")
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,700,900&amp;amp;subset=latin-ext" rel="stylesheet">